body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 3rem;
  color: #333;
}

header p {
  font-size: 1.2rem;
  color: #555;
}

section {
  margin-top: 30px;
}

#meal-type,
#ingredients {
  padding: 12px;
  font-size: 1rem;
  margin-right: 10px;
}

#search-button {
  padding: 12px 18px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #3b8e32;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

#search-button:hover {
  background-color: #2a6b24;
}

#recipe-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.recipe-card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.recipe-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.recipe-card img {
  width: 100%;
  border-radius: 10px;
}

.recipe-card h3 {
  font-size: 1.2rem;
  color: #333;
}

.recipe-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
}

#recommendations-section {
  margin-top: 20px;
}

#recommendations-button {
  padding: 12px 18px;
  font-size: 1rem;
  background-color: #3b8e32;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#recommendations-button:hover {
  background-color: #2a6b24;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 1rem;
}

footer p {
  color: #555;
}
